# Backend
PORT=3000
NODE_ENV=development
DATABASE_URL=
JWT_SECRET=
CRON_SECRET=
ALLOW_DESTRUCTIVE_SEED=false
PHOTON_URL=http://photon:2322
SITE_URL=http://localhost:3000
UPLOAD_DIR=./uploads

# PostgreSQL local (renseigner des valeurs propres à votre poste)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# SMTP
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
SENDER_EMAIL=

# Photon
PHOTON_VERSION=0.7.4
PHOTON_DB_URL=https://download1.graphhopper.com/public/experimental/extracts/by-country-code/fr/photon-db-fr-250720.tar.bz2
PHOTON_PORT=2322

# Frontend (Vite)
VITE_API_URL=/api
