version: "3.9"
services:
  app:
    image: ghcr.io/valcriss/rene-website:latest
    environment:
      PORT: 3000
      DATABASE_URL: postgres://rene:rene@db:5432/rene
    ports:
      - "3000:3000"
    depends_on:
      - db
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: rene
      POSTGRES_PASSWORD: rene
      POSTGRES_DB: rene
    volumes:
      - db-data:/var/lib/postgresql/data
volumes:
  db-data:
